{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if listing.active is False %}
            {% if user_id == highest_bid.user_id %}
                <div class="alert alert-success" role="alert">Congratulations! You have won the bid.</div>
            {% elif listing.user_id == user_id %}
                <div class="alert alert-warning" role="alert">You have closed this listing. The winner has been notified.</div>
            {% elif user_id != highest_bid.user_id %}
                <div class="alert alert-secondary" role="alert">This listing is unfortuantly closed.</div>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col-8">
                <h1>{{ listing.get_category_display }}, {{ listing.title }}</h1>
                <h1>
                {% if highest_bid is not None %}
                    <small class="text-muted">Original Price: <s>${{ listing.price }}</s> - </small>
                    <small class="text-muted">Highest Bid: ${{ highest_bid.bid }}</small>
                {% else %}
                    <small class="text-muted">${{ listing.price }}</small>
                {% endif %}
                
                </h1>
                <div class="img-max">
                    <img style="max-height: 500px;" src="{{ listing.url_picture }}" alt="Listing Image for {{ listing.title }}" class="img-fluid">
                </div>
                <p class="mt-5">{{ listing.description }}</p>
                <p>Posted by: {{ listing.user }}, {{ listing.date_of_post }}</p>
            </div>

            <div class="col-4">
                {% if user.is_authenticated and listing.active is True %}
                    <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {% if is_watching == False %}
                        <button type="submit" value="Add to Watchlist" class="btn btn-link" name="watchlist">Add To Watchlist</button>
                    {% else %}
                        <button type="submit" value="Remove from Watchlist" class="btn btn-link" name="watchlist">Remove From Watchlist</button>
                    {% endif %}
                    </form>
                    {% if offer_declined is True %}
                        <div class="alert alert-danger" role="alert">
                            Offer must be higher than current highest offer!
                        </div>
                    {% endif %}
                    <form class="form-inline" action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">  
                                <input class="form-control" type="number" name="bid">
                            </div>
                            <button class="btn btn-primary mb-2" style="margin-left: 5px;" type="submit" name="submit_bid">Submit Bid</button>
                        </div>
                    </form>
                    {% if listing.user_id == user_id %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary mb-2" type="submit" name="close_listing">Close Listing</button>
                        </form>
                    {% endif %}
                {% elif listing.active is False %}
                    <div>This listing has been closed.</div>
                {% else %}
                    <div class="mt-5">Please login to:</div>
                    <ul>
                        <li>Add "{{ listing.title }}" listing to your personal watchlist</li>
                        <li>Make a bid on this listing</li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <h2>
            <small class="text-muted">Comments</small>
        </h2>    
        <div class="media">
            <div class="media-body">
                {% for comment in comments %}
                    <h5 class="mt-2">User {{ comment.user }} said:</h5>
                    {{ comment.comment }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        {% if user.is_authenticated and listing.active is True %}
            <div class="form-group">
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ formset }}
                    <div>
                        <button class="btn btn-primary mb-2" type="submit" name="submit_comment">Submit Comment</button>
                    </div>
                </form>
            </div> 
        {% elif listing.active is False %}
            <div>This listing has been closed.</div>
        {% else %}
            <div>Please login to comment on this listing.</div>
        {% endif %}
    </div>

        
{% endblock %}